*.pyc
__pycache__
build
dist
*.egg-info
.mutmut-cache
*.bak
.mypy_cache
.pytype
/compile
/deliver
/develop
/mutationtest
/tests
/unittest
testenv
winterboot.consistency.stderr
winterboot.consistencycheck
winterboot.objlist
winterboot.rich
winterboot.richescape
zentaworkaround
inputs/
shippable/
winterboot.compiled
winterboot.docbook
winterboot.html
winterboot.objlist.html
winterboot.pdf
winterboot.pics/
winterboot.tabled.docbook
winterboot.tabled.html
